<div class="full-height">
  <div class="cover-image-wrapper d-block float-left no-overflow"></div>
  <div class="controls no-overflow">

    <div class="row no-gutters">
      <div class="col">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">01:12 / 03:49</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
    </div>

    <div class="row no-gutters">

      <div class="col-2">
        <span class="track-title d-block">Suliman</span>
        <span class="track-artist d-block">Infected Mushroom</span>
      </div>

      <div class="col text-center">
        <div class="oi oi-media-step-backward" title="icon name" aria-hidden="true"></div>
        <div class="oi oi-media-play" title="icon name" aria-hidden="true"></div>
        <div class="oi oi-media-stop" title="icon name" aria-hidden="true"></div>
        <div class="oi oi-media-step-forward" title="icon name" aria-hidden="true"></div>
        <span class="oi oi-random" title="icon name" aria-hidden="true"></span>
        <span class="oi oi-loop-square" title="icon name" aria-hidden="true"></span>
        <span class="oi oi-loop" title="icon name" aria-hidden="true"></span>
        <span class="oi oi-plus" title="icon name" aria-hidden="true"></span>
      </div>

      <div class="col-2 text-right">
        <span class="oi oi-volume-high" title="icon name" aria-hidden="true"></span>
      </div>
    </div>

  </div>
  <div id="player"></div>

</div>
