<div class="full-height">
  <div class="cover-image-wrapper d-block float-left no-overflow">
    <img [src]="playerControl.currentPlayingTrack.mediumImage" alt="playerControl.currentPlayingTrack.title">
  </div>
  <div class="controls no-overflow">

    <div class="row no-gutters">
      <div class="col">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">01:12 / 03:49</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
    </div>

    <div class="row no-gutters">

      <div class="col-2">
        <span class="track-title d-block">{{ playerControl.currentPlayingTrack.title || 'Unknown'}}</span>
        <span class="track-artist d-block">{{ playerControl.currentPlayingTrack.artist || 'Unknown' }}</span>
      </div>

      <div class="col text-center">
        <div class="oi oi-media-step-backward" title="Previous" aria-hidden="true" (click)="callToAction(playerAction.PREV)"></div>
        <ng-container [ngSwitch]="playerControl.currentPlayerState">
          <div *ngSwitchDefault class="oi oi-media-play" title="Play" aria-hidden="true" (click)="callToAction(playerAction.PLAY)"></div>
          <div *ngSwitchCase="playerState.PLAYING" class="oi oi-media-pause" title="Play" aria-hidden="true" (click)="callToAction(playerAction.PAUSE)"></div>
        </ng-container>
        <div class="oi oi-media-stop" title="Stop" aria-hidden="true" (click)="callToAction(playerAction.STOP)"></div>
        <div class="oi oi-media-step-forward" title="Next" aria-hidden="true" (click)="callToAction(playerAction.NEXT)"></div>
        <div class="oi oi-random" title="Random" aria-hidden="true" (click)="callToAction(playerAction.RANDOM)"></div>
        <div class="oi oi-loop-square" title="Shuffle" aria-hidden="true" (click)="callToAction(playerAction.SHUFFLE)"></div>
        <div class="oi oi-loop" title="Loop" aria-hidden="true" (click)="callToAction(playerAction.LOOP)"></div>
        <div class="oi oi-plus" title="Add to playlist" aria-hidden="true" (click)="callToAction(playerAction.ADD_TO_PLAYLIST)"></div>
      </div>

      <div class="col-2 text-right">
        <span class="oi oi-volume-high" title="icon name" aria-hidden="true"></span>
      </div>
    </div>

  </div>

  <div class="player-video-wrapper">
    <div id="player"></div>
  </div>

</div>
