@import "../assets/css/main-colors";

:host {
  .logo-header {
    background-color: $bg-dark;
    color: $bg-light;
  }

  .player-wrapper {
    position: absolute;
    height: 100px;
    bottom: 0;
  }
}
