/* You can add global styles to this file, and also import other style files */
html, body, .full-height {
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

.ninety-height {
  height: 90%;
}

.ninety-five-height {
  height: 95%;
}

.eighty-height {
  height: 80%;
}

.five-height {
  height: 5%;
}

.ten-height {
  height: 10%;
}

.main-content-wrapper{
  height: 100%;
  overflow: hidden;
}
